.home-img{
  background-image: url(../src/component/assets/img/home-image.gif);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}