:root {
  --sherpa-blue-color: #033540;
  --sky-blue-color: #A7D1D2;
  --light-color: #E8EDE7;
}

.text-color-sherpa-blue {
  color: var(--sherpa-blue-color);
}
.background-color-sherpa-blue{
  background-color: var(--sherpa-blue-color);
}
.background-color-sky-blue{
  background-color: var(--sky-blue-color);
}
.background-color-light{
  background-color: var(--light-color);
}

.slick-slide > div {
  margin: 0 10px;
}

.bg {
  background-image: linear-gradient(
    to top right,
    #012e4a,
    #036280,
    #378ba4,
    #81bece,
    #e8ede7
  );
}
.bg1 {
  background: linear-gradient(
    to top left,
    #02315e,
    #00457e,
    #2f70af,
    #b9848c,
    #806491
  );
}
.card {
  background: linear-gradient(to top left, #2f70af, #b9848c, #00457e, #806491);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.home-img {
  background: 
  linear-gradient(
      to top left,
      rgba(3, 53, 64, 0.2),
      rgb(99, 137, 140, 0.2),
      rgb(224, 244, 245, 0.2)
    ),
    url(../src/Component/assets/img/gif.gif) fixed center center;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.team-content {
  display: none;
}
.team-content:target {
  display: block;
}
/* Service Start */
.service-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* FAQ Start */
.question {
  padding: 20px 80px 20px 20px;
  cursor: pointer;
}
.shadow-img{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.bg-gradient {
  background: linear-gradient(to top left, #033540, #63898c, #e0f4f5);
}


@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.bg-animate {
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite;
}

.gradient-overly-right {
  z-index: 1;
  /* width: 100vw;
  min-width: 100vw; */
  position: relative;
  background-image: url(./Component/assets/img/bannerbackgrd.jpeg);
  background-position: center;
  background-size: cover;
}
.gradient-overly-right:before {
  content: "";
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    #0a0a15 2%,
    rgb(29 30 61 / 50%),
    var(--sherpa-blue-color)
  ) !important;
}
/* .gradient-overly-right:before {
  background: linear-gradient(
    90deg,
    #0a0a15 2%,
    rgb(29 30 61 / 50%),
    var(--sherpa-blue-color)
  ) !important;
} */
